body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}
h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
hr {
  color: #EAF6F6;
  margin: 100px auto 100px auto;
  border-style: dotted;
  border-width: 15px;
  border-bottom: none;
  width: 4%;
}
p {
  line-height: 2;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: ##EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding: 50px 0;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.profile-pic {
  width: 25%;
  border-radius: 50%;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.skill-pics {
  border-radius: 50%;
}
.computer-img {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.soccer-img {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
.controller-img {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
/*.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}*/
.footer-copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-me {
  padding-bottom: 100px;
}
.get-in-touch {
  padding-top: 25px;
}
.get-in-touch-description {
  margin: 40px auto 60px;
  width: 40%;
}
.intro {
  width: 30%;
  margin: auto;
}
.myButton {
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  font-weight: 300;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	background-color:#11999e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.pro-grammer {
  text-decoration: underline;
}
